@(user: models.users.User)
@adminMain("about", user){
<div class="container" id ="bodycontainer">
    <div class="row">

        <h2 class = "pull-left fancytextsmall">About Us</h2>
        <div class="clearfix"></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <p class = "productinfo">
        <p>
            At DC Body Bliss we are passionate about what we do, aiming to ensure that you get results that last.
            We are not fans of fads or gimics that only work in the short term.
            Our trainers will work hard with you to get in the best shape for sustainable long term health.
            We will be with you every step of the way.
        </p>

            <p>Drop in at anytime for a free consultation with one of our team members. </p>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <p class= "text-inverse pull-right">
                <b>Opening Hours:</b><br>
                Monday 7:00am-10:00pm<br>
                Tuesday 7:00am-10:00pm<br>
                Wednesday 7:00am-10:00pm<br>
                Thursday 7:00am-10:00pm<br>
                Friday 7:00am-10:00pm<br>
                Saturday 7:00am-10:00pm<br>
                Sunday By appointments only<br>
                <br>
                Phone: 01-2405456
            </p>
        </div>


    </div>
</div>
}