@(title: String, user: models.users.User)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/ca.css")">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet">
        <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        </style>
    </head>

    <body>
        <div id ="pageheading">
            <h1 class="text-center fancytext">DC Body Bliss</h1>
        </div>
        <nav class="navbar navbar-inverse">

            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                        <!--<a class="navbar-brand" href="#">Features</a>-->
                </div><!--navbar-header-->



                        <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href ="@routes.UserController.index()">Home</a></li>
                                <li @if(title=="Timetable"){class="active"}><a href = @routes.UserController.timetable()>Timetable</a></li>
                                <li @if(title=="ContactUs"){class="active"}><a href = @routes.UserController.contactUs()>Contact Us</a></li>
                                <li @if(title=="AboutUs"){class="active"}><a href = @routes.UserController.about()>About Us</a></li>
                                <li>
                                @if(user != null) {
                                    <a href="@controllers.security.routes.LoginController.logout()">Logout      @user.getFirstName()</a>
                                } else {
                                    <a href="@controllers.security.routes.LoginController.login()">Login</a>
                                }
                                </li>
				<li> @if(title=="addMember"){class="active"}<a href = @routes.UserController.addMember()>Register</a>

</li>
                            </ul>



                </div><!--collapse navbar...-->
            </div><!--container fluid-->
        </nav>

        @content

        <footer>
            <div class="container" >
                <div class="row footerinfo">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <p>55 The Square Q
                            <br>Tallaght
                            <br>Dublin 24
                            <br>Phone: 01-2405456
                            <br>Email: DC@@live.co.uk

                        </p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <a href="https://www.instagram.com"><i class="fa fa-3x fa-fw fa-instagram text-inverse pull-right"></i></a>
                        <a href="https://twitter.com"><i class="fa fa-3x fa-fw fa-twitter text-inverse pull-right"></i></a>
                        <a href="https://www.facebook.com/"><i class="fa fa-3x fa-fw fa-facebook text-inverse pull-right"></i></a>

                    </div>
                </div>
            </div>
        </footer>
    </body>

        <!--Javascript file to make footer always on bottom of page -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="@routes.Assets.versioned("javascripts/footer.js")" type="text/javascript"></script>
</html>
